@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
:root{
--primary-color: #4E7AE1;
--secondary-color: #7ABD3B;
--accent1-color: #63372C;
--accent2-color: #F2E5D7;

--heading-font: 'Rock Salt', serif;
--paragraph-font: 'Roboto', serif;

--nav-background-color: #7abd3b;
--nav-link-color: #F2E5D7;
--nav-hover-link-color: #63372C;
--nav-hover-background-color: #F2E5D7;
}

body {
    font-family: 'Roboto';
}

body {
    font-family: 'Rock Salt';
}

h1 {
    font-family: 'Arial Black';
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: 'Arial Black';
    color: var(--primary-color)
  }

h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    font-family: var(--paragraph-font);
}

body {
    font-family: 'Roboto';
}
h1 {
    font-family: 'Rock Salt';
}
header {
    padding: 20px;
    background-color: var(--secondary-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }

  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  }